/* generals  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  display: contents;
}
.debug [class*="col"] {
  border: 1px solid red;
}

/* header  */

header {
  background-color: rgb(35, 35, 106);
  min-height: 90px;
}

.l-h {
  line-height: 45px;
}

/* main */
.cont_h {
  min-height: 500px;
}

.min-h-img {
  min-height: 150px;
}

/* color  */

.cont-bc-color {
  background-color: #1bbc9b;
}
