/* generals  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.debug [class*="col"] {
}

img {
  max-width: 100%;
}

/* main  */

.title-jumbo {
  font-size: 45px;
}
.main-title {
  font-size: 55px;
}

#jumbo {
  background-color: #1bbc9b;
  padding-bottom: 25px;
}

.f-s,
.stars {
  font-size: 21px;
}

.light_gray {
  background-color: #ddd;
}

.card {
  min-height: 250px;
}
.card > img {
  border-radius: 40px;
}

.bc-l_b {
  background-color: #1bbc9b;
}
.bt-t {
  font-size: 18px;
}
.bt-t_color {
  color: rgb(96, 103, 111);
}

/* main */
.min_500 {
  min-height: 500px;
}

.min_300 {
  min-height: 300px;
}

.min_150 {
  min-height: 150px;
}

.min_100 {
  min-height: 100px;
}

/* color  */

.cont-bc-color {
  background-color: #1bbc9b;
}
.bc-color-footer {
  background-color: #0c3e34;
}
